@import "tailwindcss";

@theme {
  --color-brand-white: #ffffff;
  --color-brand-gray: #8b8b8b;
  --color-brand-light: #e0fffe;
  --color-brand-blue: #41bde6;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  z-index: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #ffffff, #e0fffe);
}

/* reset default body margin & use border-box sizing so elements can sit at the top */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0; 
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
